body {
  margin: 0;
}

.navbar {
  height: 80px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 25px;
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 50px 10px 0;
}

.navbar > ul {
  padding: 0;
}

.navbar > ul > li {
  list-style-type: none;
  float: left;
  padding: 20px;
}

.navbar > ul > li > a {
  color: white;
  text-decoration: none;
}

.navbar > ul > li > a:hover {
  color: yellow;
}

.goals {
  margin: 0 50px;
}

.goals > h2 {
  color: #333;
  padding: 10px;
}

.goals > ul {  
  padding: 0;
}

.goals > ul > li {
  list-style-type: none;
  padding: 10px;  
}